# Python virtual environment
backend/venv/
backend/__pycache__/
backend/*.pyc

# Node modules (Frontend)
frontend/node_modules/
frontend/dist/

# Mac system files
.DS_Store

# Sensitive Keys (if you have them)
.env